body {
  font-size: 16px;
  color: #171717;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-header {
  border-bottom: 1px solid #c6c6c6;
}

.main-header-logo {
  display: block;
  width: 138px;
  height: 10px;
  margin: 0 auto;
  padding: 1rem;
}

.product-title {
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  font-family: Lora;
  color: #111111;
}

@media screen and (min-width: 768px) {
  .main-header-logo {
    padding: 1.5rem;
  }

  .product-title {
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.product-images {
  display: flex;
  flex-flow: row;
  overflow-x: hidden;
  flex-shrink: 0;
}

.product-image {
  width: 300px;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .product-images {
    padding-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .product-image {
    width: 432px;
    height: 576px;
  }
}

.product-info {
  padding: 1rem 1rem 0rem 1rem;
}

@media screen and (min-width: 768px) {
  .product-info {
    padding: 0rem 0.5rem 0rem 0rem;
    margin-left: -1px;
  }
}

.product-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.product-info-price {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #111111;
}

.product-info-article {
  display: inline-block;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1rem;
  color: #171717;
}

.product-info-color {
  margin: 0;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 300;
  color: #171717;
}

.product-color-picker-wrap {
  display: flex;
  border-bottom: 1px solid #c6c6c6;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 1px;
}

.product-color-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  border: 1px solid transparent;
}

.product-color-btn-active {
  border-color: #232122;
}

.bg-color-black {
  background-color: #232122;
}

.bg-color-orange {
  background-color: #cfa880;
}

.product-action-button {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.product-action-button-size {
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #171717;
  border-radius: 2px;
  border: solid 1px #171717;
  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .product-action-button-size {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.35rem;
  }
}

.product-action-button-find {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  border-radius: 2px;
  border: 1px solid #999999;
  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #171717;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .product-action-button-find {
    padding-right: 0.25rem;
  }
}

.product-info-button-help {
  display: block;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  border: none;
  background-color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: #171717;
}

.product-description {
  margin: 0;
  border-bottom: 1px solid #c6c6c6;
}

.product-description-submenu {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-top: 1px solid #c6c6c6;
}

@media screen and (min-width: 768px) {
  .product-description-submenu {
    border-color:transparent;
    padding: 1.5rem 1rem 1rem 0.5rem;
  }

  .product-description {
    border-bottom: none;
  }
}

.product-description-submenu::after {
  content: url('../images/triangle.svg');
}

.rotate-180::after {
  transform: rotate(180deg);
}

.product-description-submenu-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #171717;
}

.item-description-submenu-icon {
  line-height: 1.25rem;
}

.item-description-heading-lineheight {
  line-height: 1.25rem;
}

.recommend-block {
  padding-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .recommend-block {
    padding-top: 0.825rem;
  }
}

.recommend-block-title {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  line-height: 1.175rem;
  font-weight: 400;
  color: #171717;
  border-bottom: 1px solid #171717;
}

@media screen and (min-width: 768px) {
  .recommend-block-title {
    margin-bottom: 1rem;
    padding-bottom: 0.4375rem;
    padding-left: 0;
    line-height: 1.1875rem;
  }
}

.item-other-title {
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #171717;
  border-bottom: 1px solid #171717;
}

.recommend-block-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommend-block-items-card {
  display: block;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .recommend-block-items-card {
    margin-bottom: 4rem;
  }
}

.recommend-block-items-card-name {
  margin-bottom: .5rem;
  margin-top: .5rem;
  font-family: Lora, serif;
  font-size: 1rem;
  line-height: 1.19;
  font-weight: 400;
  color: #171717;
}

.recommend-block-items-card-price {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 400;
  color: #999999;
}

.recommend-block-items-card-img {
  display: block;
  width: 130px;
  height: 174px;
}

@media screen and (min-width: 768px) {
  .recommend-block-items-card-img {
    width: 176px;
    height: auto;
  }
}

.item-other {
  padding-top: 0.25rem;
  padding-left: 1rem;
}

.item-other-link {
  display: block;
  margin-bottom: 1rem;
  font-family: Lora, serif;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #171717;
}

.item-other-links {
  margin-bottom: 4rem;
}

.footer {
  padding: 2rem 0.5rem;
  background-color: #f3f3f3;
}

.footer-user-settings {
  display: block;
  margin-bottom: 1rem;
  border: none;
  padding: 0;
  font-family: Raleway, serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #f3f3f3;
  color: #999999;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer-user-settings {
    display: inline-block;
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}

.footer-title-help {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #171717;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
}

.footer-link-contacts {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: Lora, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 17px;
  color: #171717;
}

.product-description-wrap {
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0 1rem;
  font-family: Lora;
  font-size: 14px;
  line-height: 1.5rem;
  color: #171717;
}

@media screen and (min-width: 768px) {
  .product-description-wrap {
    padding-left: 0.5rem;
    margin-bottom: 1.44rem;
  }
}

.product-description-wrap p {
  margin: 0;
}

.product-description-wrap li {
  display: block;
}

.product-description-wrap ul {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 320px) {
  .hidden-xs {
    display: none; }
}

@media only screen and (min-width: 768px) {
  .hidden-xs {
    display: block;
  }

  .hidden-md {
    display: none;
  }
}

.delivery-info {
  margin-left: -0.125rem;
}
.delivery-image {
  padding-left: 0.5rem;
  width: 432px;
  height: 324px;
}

.delivery-title {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;
  color: #171717;
}

.delivery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery-prop {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  display: block;
}

.delivery-prop-title {
  margin: 0;
  padding: 0;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #171717;
}

.delivery-prop-description {
  padding-right: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #171717;
}

.footer-menu {
  margin-bottom: 1.125rem;
}

.footer-menu-title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  color: #171717;
}

.footer-menu-prop {
  display: block;
  margin-bottom: 0.75rem;
  margin-right: 1.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: #999999;
  text-decoration: none;
}

.footer-menu-link:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 0;
  }

  .footer-menu-title {
    line-height: 0.875rem;
  }
}